body,.MuiFormHelperText-root-132,label{
	font-family:cursive!important;
}
h2{
	font-size: xx-small;
}
.App {
  text-align: center;
}

.App {
    padding-top: 1em;	
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: xx-small;
}

.App-intro {
  font-size: xx-small;
}

.App-link{
	color:#fff;
}

.top_rate_view{
	padding-top:1em;
	padding-bottom:1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
